<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Watchlist
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment value="default">
    <ion-segment-button value="default">
      <ion-label>Movies</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment">
      <ion-label>TV-Shows</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar animated="true" placeholder="Search a movie or TV show"></ion-searchbar>
  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
