<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Startseite
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-segment [value]="segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="movie">
      <ion-label>Movies</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tv">
      <ion-label>TV-Shows</ion-label>
    </ion-segment-button>
  </ion-segment>


  <ion-searchbar animated="true" placeholder="Search a movie or TV show"></ion-searchbar>

  <h1>{{lists[0]}} </h1>
  <div class="scrolling-wrapper">
    <app-poster-card *ngFor="let movie of firstList" [data]="movie" [isMovie]="isMovie"></app-poster-card>
  </div>

  <h1>{{lists[1]}} </h1>
  <div class="scrolling-wrapper">
    <app-poster-card *ngFor="let movie of secondList" [data]="movie" [isMovie]="isMovie"></app-poster-card>
  </div>

  <h1>{{lists[2]}} </h1>
  <div class="scrolling-wrapper">
    <app-poster-card *ngFor="let movie of thirdList" [data]="movie" [isMovie]="isMovie"></app-poster-card>
  </div>

  <h1>{{lists[3]}} </h1>
  <div class="scrolling-wrapper">
    <app-poster-card *ngFor="let movie of fourthList" [data]="movie" [isMovie]="isMovie"></app-poster-card>
  </div>

  



</ion-content>