<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>watchlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [value]="segment" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="movie">
      <ion-label>Movies</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tv">
      <ion-label>TV-Shows</ion-label>
    </ion-segment-button>
  </ion-segment>


  <app-poster-card *ngFor="let movie of list" [data]="movie" [isMovie]="true"></app-poster-card>


</ion-content>