<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>movie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">movie</ion-title>
    </ion-toolbar>
  </ion-header>
  <img [src]="'https://image.tmdb.org/t/p/w1280'+ data.backdrop_path">
  <img [src]="'https://image.tmdb.org/t/p/w200'+ data.poster_path">
  <h1>{{data.title}}</h1>
  <h3>{{data.release_date}}|{{data.runtime}} minutes</h3>
  <h5>{{data.overview}}</h5>

  <ion-chip *ngFor="let genre of data.genres">{{genre.name}}</ion-chip>
  <h4>"{{data.tagline}}"</h4>
  <ion-row>
    <ion-col class="border">{{data.vote_average}}/10</ion-col>
    <ion-col class="border">
      <ion-button>Bewerten</ion-button>
    </ion-col>
    <ion-col class="border">{{data.popularity}}</ion-col>
  </ion-row>
  <ion-segment value="heart">
    <ion-segment-button value="home">
      Watchlist
    </ion-segment-button>
    <ion-segment-button value="heart">
      Watching
    </ion-segment-button>
    <ion-segment-button value="pin">
      Watched
    </ion-segment-button>
    <ion-segment-button value="star">
      Abandoned
    </ion-segment-button>
  </ion-segment>
  <div style="
  text-align: center;">

    <ion-icon size="large" name="star"></ion-icon>

    <ion-icon size="large" name="star"></ion-icon>

    <ion-icon size="large" name="star"></ion-icon>

    <ion-icon size="large" name="star"></ion-icon>

    <ion-icon size="large" name="star"></ion-icon>
  </div>

</ion-content>