<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Back Button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 


  <div style="display: flex;">
    <img [src]="imageUrl">
    <div>
      <h1>{{title}}</h1>
      <p>{{data?.release_date}} | {{data?.runtime}} minutes</p>
      <ion-chip *ngFor="let genre of data?.genres">{{genre.name}}</ion-chip>
      <ion-chip color="success"><ion-icon name="thumbs-up-outline"></ion-icon>
        <ion-label>{{data?.vote_average}}/10</ion-label></ion-chip>
    </div>
  </div>
  <p>{{data?.overview}}</p>
  <youtube-player [videoId]="trailerKey" [width]="videoWidth" [height]="videoHeight"></youtube-player>

  <ion-row>
    <ion-col class="border">
      <ion-button>
        <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      </ion-button>
      <ion-label>Watchlist</ion-label>
    </ion-col>
    <ion-col class="border">
      <ion-button>
        <ion-icon aria-hidden="true" name="play-outline"></ion-icon>
      </ion-button>
      <ion-label>Now Watching</ion-label>
    </ion-col>
    <ion-col class="border">
      <ion-button>
        <ion-icon aria-hidden="true" name="eye-outline"></ion-icon>
      </ion-button>
      <ion-label>Watched</ion-label>
    </ion-col>
    <ion-col class="border">
      <ion-button>
        <ion-icon aria-hidden="true" name="trash"></ion-icon>
      </ion-button>
      <ion-label>Abandon</ion-label>
    </ion-col>
  </ion-row>
  <ion-button expand="block" id="open-modal"> Bewerten</ion-button>
</ion-content>